.row
  .small-12.columns
    h3= @source.name

    table
      thead
        tr
          th Controller
          th Action
          th Method
          th Format
      tbody
        tr
          td= @source.controller
          td= @source.action
          td= @source.method_name
          td= @source.format_type

    table
      thead
        tr
          th
          th Median
          th Worst
          th Best
      tbody
        tr
          td DB Runtime
          td= @source.db.median
          td= link_to @source.db.max.db_runtime, app_source_transaction_path(@source.app, @source, @source.db.max)
          td= link_to @source.db.min.db_runtime, app_source_transaction_path(@source.app, @source, @source.db.min)
        tr
          td View Runtime
          td= @source.view.median
          td= link_to @source.view.max.view_runtime, app_source_transaction_path(@source.app, @source, @source.view.max)
          td= link_to @source.view.min.view_runtime, app_source_transaction_path(@source.app, @source, @source.view.min)
        tr
          td Duration
          td= @source.duration.median
          td= link_to @source.duration.max.duration, app_source_transaction_path(@source.app, @source, @source.duration.max)
          td= link_to @source.duration.min.duration, app_source_transaction_path(@source.app, @source, @source.duration.min)

    = render "/transactions/table", transactions: @source.transactions
