<header class="hero">
<div class="row">
  <div class="six columns">
    <h1><strong>Gendo monitors your app's performance.</h1>
    <h4>All's right with the world.</h4>
  </div>
</div>
</header>

<div class="row">
  <div class="small-12 columns">
    <a href="#" class="large button">Sign Up</a>
  </div>
</div>
