//= require foundation_and_overrides

.top-bar {
  margin-bottom: 0;
}

header.hero {
  padding: 20px 0 20px;
  background-color: #8560A5;

  h1, h4 {
    color: #fff;
  }
  h1 {
    font-weight: 500;
  }
  h4 {
    font-weight: 300;
  }
}

pre {
  margin-bottom: 1.25em
}
