.top-bar {
  a {
    span {
      padding-bottom: 10px;
      border-bottom: 3px solid $secondary-color;
    }
  }
  a:hover {
    span {
      padding-bottom: 10px;
      border-bottom: 3px solid #fff;
    }
  }
}

.text-centered {
  text-align: center;
}

header.hero {
  background-color: $primary-color;
  padding: 20px 0 20px;
  margin-top: -$topbar-margin-bottom;
  margin-bottom: 30px;

  h1, h4 {
    color: #fff;
  }

  h1 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
  }

  a.button {
    margin-top: 15px;
  }
}

.row.crumbs {
  margin-bottom: 0.5em;
}

pre {
  margin-bottom: 1.25em;
}

form {
  input.button {
    margin: 1em 0 0;
  }
}

.full-table {
  border: 0;
  td {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
  }
}
